*,html{
    padding:0;
    margin:0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    background-color: #fffdfb;
}


@font-face {
    font-family: "Proxima Nova regular";
    src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: "Proxima Nova light";
    src: url(../fonts/Proxima-Nova-Light.otf);
}

@font-face {
    font-family: "Proxima Nova bold";
    src: url(../fonts/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: "Proxima Nova black";
    src: url(../fonts/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: "Roboto regular";
    src: url(../fonts/RobotoMono-Regular.ttf);
}




#inner{
    position: fixed;
    top: 1rem;
    right: 1rem;
    bottom: 1.5rem;
    left: 1rem;
    padding: 2rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.background{
    position: fixed;
    top: 1rem;
    right: 1rem;
    bottom: 1.5rem;
    left: 1rem;
    padding: 2rem;
    transform: scale(1.2);
    background: url(../images/background/Adidas-Nite-Jogger-Editorial-18.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    -webkit-transition: 0.5s ease-out;
    -moz-transition:  0.5s ease-out;
    -o-transition:  0.5s ease-out;
    transition:  0.5s ease-out;
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

/* START HEADER */

header{
    position: relative;
    margin: auto;
    width: 100%;
    z-index: 2;
}

header .logo{
    position: relative;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;

}
header .logo-sneakerdistrict{
    background-image: url(../images/sd-logo_clean.svg);
    grid-area: logo-sneakerdistrict;
    /*filter: brightness(0) sepia(1) hue-rotate(0deg) saturate(0);*/
}

header .logo-company{
    background-image: url(../images/adidas-logo.svg);
    grid-area: logo-comany;
    /*filter: brightness(0) sepia(1) hue-rotate(0deg) saturate(0);*/
}

nav{
    padding-top: 1rem;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    font-size: 1rem;
}

nav ul li a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:#003082;
}

nav li:nth-of-type(1)
{
    flex: 1 1 auto;
}


/* START BOX */


.rsvp-box {
    position: relative;
    /* width: 73.25rem; */
    max-height: 100%;
    max-width: 55rem;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.50625rem;
    /*margin-top: 0.50625rem;*/
    top: 40%;
    transform: translateY(-50%);
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(6,1fr);

    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-areas: ". form form form form .";
    z-index: 3;

}


.succes-box{
    /*max-width: 50%;*/
    max-height: 10rem;
}



.hide{
    display: none;
    opacity: 0;
    visibility: hidden;
    /*-webkit-transition: 0.1s ease-in-out;*/
    /*-moz-transition:  0.1s ease-in-out;*/
    /*-o-transition:  0.1s ease-in-out;*/
    /*transition:  0.1s ease-in-out;*/
}

.not-visible{
    display: none;
}


.rsvp-box form .grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
    grid-template-areas:
                    "fieldset fieldset fieldset fieldset fieldset fieldset";
    padding: 1.5625rem;
    z-index: 2;
    position: relative;

}


/* START FORM */

form{
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    height: auto;
    background-color: #fffdfb;
    z-index: 2;
    -webkit-box-shadow: 9px 6px 15px -6px rgba(0,0,0,0.20);
    -moz-box-shadow: 9px 6px 15px -6px rgba(0,0,0,0.20);
    box-shadow: 9px 6px 15px -6px rgba(0,0,0,0.20);
    overflow: hidden;
    margin-bottom: 1rem!important;
    /*-webkit-transition: 0.3s ease-in-out;*/
    /*-moz-transition:  0.3s ease-in-out;*/
    /*-o-transition:  0.3s ease-in-out;*/
    /*transition:  0.3s ease-in-out;*/
}

form fieldset{
    /*padding-top:1.2rem;*/
    grid-area: fieldset;
}

form legend{
    font-family: "Proxima Nova black";
    font-size: 1.8rem;
    color: #000;
    text-transform: uppercase;
    grid-area: legend;
    display: block;
    margin-bottom: 0.5rem;
}

form legend span{
    font-family: "Proxima Nova light";
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
    text-transform: uppercase;
    grid-area: title;
    display: block;

}

form{
    grid-area: form;
}


form ul{
    list-style-type: none;
    display: flex;
    grid-area: ul;
    padding-bottom:0.5rem;
}

form ul li{
    font-size: 0.8rem;
    padding:0.5rem;
    margin: 0.1rem;
    background-color: #f2f0f0;
    box-sizing: border-box;
}

form ul li a{
    display: table-cell;
    vertical-align: middle;
    color:#000000;
    font-family: "Proxima Nova light";
    text-decoration: none;
}


form li
{
    flex-grow: 1;
    width: 100%;
}

form span{
    display: block;
    margin-top: 0.2rem;
    line-height: 1rem;
}


form .detail-title{
    font-family: "Proxima Nova black";
    font-size: 0.9rem;
    color: #000;
    text-transform: uppercase;
    display: block;
}


form label{
    font-family: "Proxima Nova light";
    font-weight: 400;
    font-size: 0.9rem;
    color: #000;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.35rem;
}


input{
    box-sizing: border-box;
}

input[type=text],
input[type=email]{
    width: 100%;
    height: 3rem;
    padding-left: 1.25rem;
    border-style: none;
    margin-bottom: 0.2rem;
    background-color: #505050;
    color: #fff;
    border-radius: 0;
}

input::placeholder{
    color: #9c9b9b;
}

button{
    width: 100%;
    height: 3rem;
    border-style: none;
    margin-top: 1.25rem;
    margin-bottom: 0.2rem;
    background-color: #3eb872;
    color: #ffff;
    font-family: "Roboto regular";
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    -webkit-appearance: none;
    border-radius: 0;
}

.disabled{
    background-color: #b3b3b3d6!important;
    color: #e4e4e4!important;
}


.succes-message:hover,button:hover{
    background-color: #37a867;
}


.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -0.7rem;
    margin-left:-0.5rem;
    border-radius: 50%;
    border: 0.2rem solid transparent;
    border-top-color: #fff;
    animation: spinner .4s linear infinite;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

/*textarea:focus, input:focus, button:focus{*/
    /*outline: none;*/
/*}*/


.field-form{
    grid-area: field-form;
}

.field-email{
    grid-area: field-name;
}

.submit-button{
    grid-area: submit;
}

.rsvp-box form .fields{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
    grid-template-areas:
            "ul ul ul ul ul ul"
            "text text text text text text"
            "field-form field-form field-form field-form field-form field-form"
            "submit submit submit submit submit submit";
    z-index: 2;
    position: relative;
}

form h3{
    font-family: "Proxima Nova black";
    font-size: 0.9rem;
    color: #000;
    display: block;
    padding-top:1rem;
    padding-bottom:0.5rem;
}

form p{
    font-size: 0.7rem;
    line-height: 0.9rem;
    color:#000000;
    font-family: "Proxima Nova light";
}

a{
    text-decoration: none;
}


/* START NOISE */

#canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom:5rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .1;

}


#figure-1{
    max-width: 110em;
    min-width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#figure-2{
    max-width: 25%;
    min-width: 20rem;
    position: absolute;
    z-index: 2;
    top: -8rem;
    right:2rem;
    display: block;
    bottom: 0;
}

#figure-1 img{
    width: 100%;
    height: auto;

}

#figure-2 img{
    width: 100%;
    height: auto;
}

#figure-2{
    animation: MoveUpDown 5s linear infinite;
}


@keyframes MoveUpDown {
    0%, 100% {
        top: -8rem;
    }
    50% {
        top: -6rem;
    }
}



.succes-message{
    width: 100%;
    height: 3rem;
    background-color:  #3eb872;

}

.succes-message p{
    font-family: "Roboto regular";
    text-align: center;
    line-height: 3rem;
    text-transform: uppercase;
    color: #fff;
}


.logo-company-mobile{
    position: relative;
    width: 100%;
    height: 4rem;
    z-index: 3;

}

.company-logo{
    height: 3rem;
    width: 3rem;
    position: relative;
    background-image: url(../images/adidas-logo.svg);
    grid-area: logo-comany;
    filter: brightness(0) sepia(1) hue-rotate(0deg) saturate(0);
    margin: auto;
}




@media (max-width:570px) {

    form span {
        display: block;
        margin-top: 0rem;

    }

    form ul{
        flex-direction: column;
        flex-wrap: wrap;

    }

    body #figure-2 img{
        width: 9rem;
        height: auto;
    }


    body #figure-2{
        max-width: 1rem;
        min-width: auto;
        top: -4rem!important;
        right: 9rem;
        animation: none;
        z-index: 4;
    }


}


@media (max-width:770px) {

    body{
        background: url(../images/background/Adidas-Nite-Jogger-Editorial-20.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #canvas,.background{
        display: none;
    }

    .background{
        transform: scale(1.2);
    }

    form{
       margin-bottom: 1rem!important;
    }


    form legend{
        font-size: 1.5rem;
    }
    form legend span {
        font-size: 1.1rem;
    }



    /*form ul li {*/
        /*font-size: 0.4rem;*/
    /*}*/

    header{
        position: relative;
        margin: auto!important;
        z-index: 2;
        padding-top: 2rem!important;
    }

    nav li
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav li:nth-of-type(2)
    {
       display: none;
    }



    header .logo{
        position: relative;
        width: 5rem;
        height: 5rem;
        background-repeat: no-repeat;

    }


    .rsvp-box {
        position: relative;
        /* width: 73.25rem; */
        margin-top: 1.5rem!important;
        top: auto!important;
        transform: none!important;
        grid-template-columns: repeat(1,1fr)!important;

    }

    .logo-company-mobile{
        display: block;
    }

    #inner {
        position: relative;
        left:0;
        right: 0;
        top: 0;
        padding: 0;
    }

    #figure-2 img{
        width: 11rem;
        height: auto;
    }


    #figure-2{
        max-width: 1rem;
        min-width: auto;
        top: -6rem!important;
        right: 12rem;
        animation: none;
        z-index: 4;
    }


    #figure-1{
        display: none;
    }


    #figure-3{
        width: 15rem;
        height: auto;
        margin: auto;
        margin-bottom: 5rem;
        display: block;
    }

    #figure-3 img{
        width: 100%;
        height: auto;
    }

}


.icon{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.checkmark {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #3eb872;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #3eb872;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #3eb872;
    }
}


.error-message{
    font-family: "Proxima Nova light";
    font-size: 0.7rem;
    width: 100%;
    height: auto;
    color: red;
}

.error{
    border-left: 6px solid red;
    background-color: lightgrey;
}